<?xml version="1.0" encoding="UTF-8"?>
<html>
  <head><title>Composite Repository "<%= @name %>" - <%= @version %></title></head>
  <body>
    <h2>Composite Repository <%= @name %>-<%= @version %> built on <%= @version %></h2>
    <ul>
      <%@children_repo.each do |child_repo| %><li><a href="<%= child_repo %>"><%= child_repo %></a></li>
      <% end %>
    </ul>
  </body>
</html>
